@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(51, 65, 85);
  --background-start-rgb: rgb(15, 23, 42);
  --background-end-rgb: rgb(51, 65, 85);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(51, 65, 85);
    --background-start-rgb: rgb(15, 23, 42);
    --background-end-rgb: rgb(51, 65, 85);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: rgba(255, 255, 255, 0.2);
  scale: 0.9 !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: white !important;
  scale: 1 !important ;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #000;
  font-size: 12px;
}
