@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(51, 65, 85);
  --background-start-rgb: rgb(15, 23, 42);
  --background-end-rgb: rgb(51, 65, 85);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(51, 65, 85);
    --background-start-rgb: rgb(15, 23, 42);
    --background-end-rgb: rgb(51, 65, 85);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
